In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel("C:/Users/hp/Downloads/ESD.xlsx")

In [5]:
print(pd.DataFrame(df))

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [6]:
df.describe()

,Age,Hire Date,Annual Salary,Bonus %,Exit Date
count,1000.000000,1000,1000.000000,1000.000000,85
mean,44.382000,2012-04-07 02:54:14.400000,113217.365000,0.088660,2016-11-02 18:04:14.117647104
min,25.000000,1992-01-09 00:00:00,40063.000000,0.000000,1994-12-18 00:00:00
25%,35.000000,2007-02-14 00:00:00,71430.250000,0.000000,2014-12-25 00:00:00
50%,45.000000,2014-02-15 12:00:00,96557.000000,0.000000,2019-05-23 00:00:00
75%,54.000000,2018-06-22 00:00:00,150782.250000,0.150000,2021-04-09 00:00:00
max,65.000000,2021-12-26 00:00:00,258498.000000,0.400000,2022-08-17 00:00:00
std,11.246981,NaN,53545.985644,0.117856,NaN

In [7]:
df.shape

(1000, 14)

In [36]:
group1 = df.groupby(["Job Title","Full Name"]).agg({"Annual Salary":["mean", "sum"],"Age":["mean","max"]})

In [37]:
print(group1)

                              Annual Salary           Age
                                       mean     sum  mean max
Job Title              EEID
Account Representative E00022       64669.0   64669  62.0  62
                       E00644       50994.0   50994  57.0  57
                       E00725       65047.0   65047  45.0  45
                       E00749       64204.0   64204  37.0  37
                       E00758       59646.0   59646  35.0  35
...                                     ...     ...   ...  ..
Vice President         E04766      191571.0  191571  38.0  38
                       E04779      180994.0  180994  63.0  63
                       E04795      208210.0  208210  28.0  28
                       E04940      195200.0  195200  36.0  36
                       E04962      181801.0  181801  50.0  50

[997 rows x 4 columns]

In [53]:
group1 = df.groupby("Job Title").agg({"Annual Salary":["mean","min"],"Ethnicity":["count","min"]})

In [54]:
print(group1)

                                Annual Salary         Ethnicity
                                         mean     min     count    min
Job Title
Account Representative           62281.619048   50994        21  Asian
Analyst                          49950.666667   40752        51  Asian
Analyst II                       62647.471698   50685        53  Asian
Automation Engineer              95106.857143   78237         7  Asian
Business Partner                 49559.789474   41728        19  Asian
Cloud Infrastructure Architect   86961.333333   62335        15  Asian
Computer Systems Manager         80346.809524   61886        21  Asian
Controls Engineer                99626.133333   76272        15  Asian
Development Engineer             77889.210526   60132        19  Asian
Director                        171633.851240  150399       121  Asian
Engineering Manager             101853.800000   78938        20  Asian
Enterprise Architect             84698.666667   64462        18  Asian
Field Engineer                   78928.952381   62605        21  Asian
HRIS Analyst                     61760.375000   50548        16  Asian
IT Coordinator                   48024.454545   40063        11  Asian
IT Systems Architect             81496.833333   66819        12  Asian
Manager                         113275.683673  100099        98  Asian
Network Administrator            75908.400000   61310        10  Asian
Network Architect                80092.555556   60985        18  Asian
Network Engineer                 74171.714286   61944         7  Asian
Operations Engineer             101135.250000   77442        12  Asian
Quality Engineer                 83564.400000   60017        20  Asian
Service Desk Analyst             82329.200000   64417        10  Asian
Solutions Architect              78163.266667   62174        15  Asian
Sr. Account Representative       84808.222222   71677         9  Asian
Sr. Analyst                      86402.957143   70165        70  Asian
Sr. Business Partner             85035.352941   70980        17  Asian
Sr. Manger                      141067.763636  120321       110  Asian
System AdministratorÂ             79852.666667   63318        15  Asian
Systems Analyst                  48787.933333   40316        15  Asian
Technical Architect              79773.823529   63411        17  Asian
Test Engineer                    74550.833333   60055        12  Asian
Vice President                  222195.171429  180994       105  Asian

In [55]:
group1 = df.groupby("Business Unit").agg({"Annual Salary":["mean","median","max"]})

In [56]:
print(group1)

                        Annual Salary
                                 mean    median     max
Business Unit
Corporate               120776.151899  101143.0  258426
Manufacturing           103651.371747   90040.0  258498
Research & Development  112490.205240   96567.0  256561
Speciality Products     116796.003774  101985.0  255230

In [63]:
#count people by deparments
group1 = df.groupby("Department")["EEID"].count()

In [61]:
print(group1)

Department
Accounting          96
Engineering        158
Finance            120
Human Resources    125
IT                 241
Marketing          120
Sales              140
Name: EEID, dtype: int64

In [68]:
#total salary
group1 = df["Annual Salary"].sum()

In [69]:
print(group1)

113217365

In [84]:
#gender percentage
group1 = (df["Gender"].value_counts(normalize=True)*100)

In [85]:
print(group1)

Gender
Female    51.8
Male      48.2
Name: proportion, dtype: float64

In [ ]:
#department percentage
group1 = (df["Department"].value_count